[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access]
	inheritFrom = Platform-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-tools-idea
[access "refs/heads/snapshot-master"]
	push = group idea-push
	forgeCommitter = group idea-push
[access "refs/heads/upstream-133"]
	forgeCommitter = group idea-push
	push = group idea-push
[access "^refs/heads/upstream-.*"]
	forgeCommitter = group idea-push
	push = group idea-push
